<%- include('../partials/header.ejs') %>
<a href="/stocks" class="left-align container arrow"><i class="material-icons black-text small">arrow_back</i></a>
<div class="black-text container">
  <div class="row">
    <div class="col s6 input-field">
      <h3 class="black-text">Add Stock</h3>
      <form action="/stocks" method="POST" class="grey-text">
        <label
          >Stock Name:
          <input type="text" name="name" />
        </label>
        <br /><br />
        <label
          >Ticker:
          <input type="text" name="ticker" />
        </label>
        <br />
        <!-- <label
          >Price:
          <input type="number" step="0.01" name="price" />
        </label> -->
        <br />
        <label
          >Feeling:
          <select name="feeling" id="select_feeling" class="browser-default">
            <option value="Bullish">Bullish</option>
            <option value="Bearish">Bearish</option>
          </select>
        </label>
        <br />
        <input value="Add Stock" class="btn green " type="submit" />
      </form>
    </div>
    <div class="col s6">
      <div class="">
        <h2 class="">NASDAQ Stocks</h2>
        <iframe src="https://datahub.io/core/nasdaq-listings/r/1.html" width="100%" height="450px" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>




<%- include('../partials/footer.ejs') %>
