</main>
<footer class="page-footer green">
  <div class="right">
    All Rights Reserved, &copy; 2023 StockTrackr &nbsp;
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    //select options list dropdown
    const selectEl = document.getElementById('select_feeling');
    M.FormSelect.init(selectEl);

    $(document).ready(() => {
          $('.sidenav').sidenav();
        });
</script>

</body>
</html>