<!DOCTYPE html>
<html>
  <head>
    <title>Stock Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    |
    <a href="/stocks">Stocks</a>
    |
    <a href="/stocks/new">Add Stock</a>