<!DOCTYPE html>
<html>
  <head>
    <title>StockTrackr</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  </head>
  <body>
    <!-- new nav bar materialize -->
    <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper green darken-4">
        <a href="/" class="left brand-logo hide-on-med-and-down" id="title-nav">&nbsp;StockTrackr</a>
        <a href="/" class="right show-on-medium-and-down hide-on-med-and-up"><i class="material-icons">home&nbsp;&nbsp;</i></a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/stocks/new">Add Stocks</a></li>
          <li><a href="/stocks">My Stocks</a></li>
        </ul>
      </div>
    </nav> 
  </header>
  <ul class="sidenav" id="mobile">
    <li><a href="/stocks/new">Add Stocks</a></li>
    <li><a href="/stocks">My Stocks</a></li>
  </ul>
        
  


