<%- include('./partials/header') %>
<!-- <h1>Home</h1> -->
<div class="container">
  <img
    class="container"
    src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F694972%2Fcomm-buildings.jpg&op=resize&w=1200&h=630"
  />
</div>


<%- include('./partials/footer') %>
