<%- include('./partials/header') %>
<!-- <h1>Home</h1> -->
<div class="container center-align black-text">
  <h1 class="hide-on-med-and-down">StockTrackr</h1>
  <h1 class="hide-on-large-only flow-text" id="title-navm">StockTrackr</h1>
  <h3 class="grey-text">Empowering Investors, Unleashing Potential</h3>
</div>


<%- include('./partials/footer') %>
