body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#stockName {
  text-decoration: none;
}
#stockName:hover {
  text-decoration: underline;
}

#plus {
  padding: 1px;
  border: none;
  text-align: start;
}

#plus-row {
  border: none;
}

.hover-section:hover {
  background-color: black;
  cursor: pointer;
}
