body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

tr,
td,
thead,
th {
  border: 1px solid black;
  padding: 8px;
  width: 33%;
}

table {
  border-radius: 5px;
}

tbody {
  width: 33%;
  border-radius: 3px;
}

#plus {
  padding: 1px;
  border: none;
  text-align: start;
}

#plus-row {
  border: none;
}
